#include "i_const.inc"

/////////////////////////////////////////////////////////////////////////////
//
// Dialogs - Settings
//
SETTINGS_LOGIN DIALOGEX 0, 0, 314, 236, 0
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX 
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "VKontakte Protocol",1000,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,3,306,95,0x0,0
  CONTROL "E-mail:",65535,"STATIC",SS_RIGHT |WS_CHILD |WS_GROUP |WS_VISIBLE ,12,17,51,8,0x0,0
  CONTROL "",VK_OPT_EMAIL,"EDIT",ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,68,15,106,12,0x0,0
  CONTROL "Password:",65535,"STATIC",SS_RIGHT |WS_CHILD |WS_GROUP |WS_VISIBLE ,12,31,51,8,0x0,0
  CONTROL "",VK_OPT_PASS,"EDIT",ES_PASSWORD |ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,68,29,106,12,0x0,0
  CONTROL "Hint: If you don't enter your password here, Miranda will ask for the password everytime you try to go online.",0,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,12,46,290,19,0x0,0
  CONTROL "Retrieve a lost password or VKontakte number",VK_OPT_PASSLOST,"Hyperlink",WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,81,290,8,0x0,0
  CONTROL "Create a new VKontakte account using the VKontakte website",VK_OPT_NEWID,"Hyperlink",WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,69,290,8,0x0,0
END

SETTINGS_ADVANCED DIALOGEX 0, 0, 314, 236, 0
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX
EXSTYLE WS_EX_CONTROLPARENT 
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "Connection settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,3,306,111,0x0,0
  CONTROL "Send 'Keep-online' message each",0,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,17,110,18,0x0,0
  CONTROL "",VK_OPT_KEEPONLINE_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,14,29,12,0x0,0
  CONTROL "second(s)",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,17,35,12,0x0,0
  CONTROL "Check for new messages each",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,36,110,18,0x0,0
  CONTROL "",VK_OPT_CHECKNEWMSG_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,33,29,12,0x0,0
  CONTROL "second(s)",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,36,35,12,0x0,0
  CONTROL "Update friends' status each",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,55,110,18,0x0,0
  CONTROL "",VK_OPT_CHECKFRSTATUS_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,52,29,12,0x0,0
  CONTROL "second(s)",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,55,35,12,0x0,0
  CONTROL "Get only minimal contact details (name, date of birth, phones)",VK_OPT_GETMININFO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,78,290,10,0x0,0
  CONTROL "Other settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,195,306,34,0x0,0
  CONTROL "Remove subject of incoming message, if empty",VK_OPT_REMOVEEMTPYSUBJ,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,209,290,10,0x0,0
  CONTROL "Avatars",1,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,115,306,78,0x0,0
  CONTROL "Enable contacts additional status support",VK_OPT_ADDLSTATUSSUPPORT,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,96,290,10,0x0,0
  CONTROL "Enable avatars support",VK_OPT_AVATARSSUPPORT,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,13,131,290,10,0x0,0
  CONTROL "Update contacts avatars each",VK_OPT_AVATARSUPD_SEC_LABEL1,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,150,110,18,0x0,0
  CONTROL "",VK_OPT_AVATARSUPD_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,147,29,12,0x0,0
  CONTROL "second(s)",VK_OPT_AVATARSUPD_SEC_LABEL2,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,150,35,12,0x0,0
  CONTROL "Update avatars, when getting contacts details",VK_OPT_AVATARSUPDWHENGETINFO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,13,174,290,10,0x0,0
END

SETTINGS_ADVANCED2 DIALOGEX 2, 0, 313, 236, 0
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX 
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "Other settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,3,306,80,0x0,0
  CONTROL "Use VKontakte's page URL instead of contact's homepage",VK_OPT_VKONTAKTE_URL,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,17,290,10,0x0,0
  CONTROL "Display Additional status for offline contacts",VK_OPT_ADDLSTATUS_FOR_OFFLINE,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,31,290,10,0x0,0
  CONTROL "Use local time for incoming messages",VK_OPT_LOCALTIME_FOR_INC_MSGS,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,45,290,10,0x0,0
  CONTROL "Use the following group by default for new contacts",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,63,173,18,0x0,0
  CONTROL "",VK_OPT_DEFAULT_GROUP,"EDIT",ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,184,60,79,12,0x0,0  
END

SETTINGS_NEWS DIALOGEX 0, 0, 314, 236, 0
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "News support settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,3,306,66,0x0,0
  CONTROL "Receive news",VK_OPT_NEWSSUPPORT,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,17,290,10,0x0,0
  CONTROL "Check for news each",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,30,110,18,0x0,0
  CONTROL "",VK_OPT_NEWS_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,32,29,12,0x0,0
  CONTROL "second(s)",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,35,35,12,0x0,0
  CONTROL "Receive minimal news (for today only, not all types)",VK_OPT_NEWS_MINIMAL,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,52,290,9,0x0,0
  CONTROL "Filters",1,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,71,306,113,0x0,0
  CONTROL "Display news of the following types only (not applicable for minimal news)",0,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,81,287,18,0x0,0
  CONTROL "Photos",VK_OPT_NEWS_FILTER_PHOTO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,100,135,10,0x0,0
  CONTROL "Videos",VK_OPT_NEWS_FILTER_VIDEO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,113,135,10,0x0,0
  CONTROL "Notes",VK_OPT_NEWS_FILTER_NOTE,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,126,135,10,0x0,0
  CONTROL "Questions",VK_OPT_NEWS_FILTER_QUESTION,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,139,135,10,0x0,0
  CONTROL "Themes",VK_OPT_NEWS_FILTER_SUBJ,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,153,135,10,0x0,0
  CONTROL "Friends",VK_OPT_NEWS_FILTER_FRIEND,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,166,135,10,0x0,0
  CONTROL "Statuses",VK_OPT_NEWS_FILTER_STATUS,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,100,135,10,0x0,0
  CONTROL "Groups",VK_OPT_NEWS_FILTER_GROUP,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,113,135,10,0x0,0
  CONTROL "Meetings",VK_OPT_NEWS_FILTER_MEETING,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,126,135,10,0x0,0
  CONTROL "Audio",VK_OPT_NEWS_FILTER_AUDIO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,139,135,10,0x0,0
  CONTROL "Personal data",VK_OPT_NEWS_FILTER_PERSONAL,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,153,135,10,0x0,0
  CONTROL "Tags",VK_OPT_NEWS_FILTER_TAGS,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,166,135,10,0x0,0
  CONTROL "Other settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,187,306,44,0x0,0
  CONTROL "Display news in the separate contact",VK_OPT_NEWS_SEPARATE_CONTACT,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,11,216,287,9,0x0,0
  CONTROL "Display links in the news",VK_OPT_NEWS_SUPPORTLINKS,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,11,202,287,9,0x0,0
END

SETTINGS_POPUP DIALOGEX 0, 0, 314, 236, 0
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0
{
 AUTOCHECKBOX    "Show popups", VK_POPUPS_ENABLED, 16, 0, 128, 18, BS_MULTILINE

 GROUPBOX        "Delay", 65535, 16, 22, 128, 58
 EDITTEXT        VK_POPUPS_DELAY_SEC, 86, 47, 36, 14, ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
 LTEXT           "sec", 65535, 126, 49, 12, 8
 AUTORADIOBUTTON "Default", VK_POPUPS_DELAYDEF, 24, 34, 100, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Custom", VK_POPUPS_DELAYCUST, 24, 49, 52, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Permanent", VK_POPUPS_DELAYPERM, 24, 64, 100, 10, NOT WS_TABSTOP

 GROUPBOX        "Appearance", 65535, 16, 83, 128, 117
 CTEXT           "Back", 65535, 90, 138, 20, 8
 CTEXT           "Text", 65535, 117, 138, 20, 8
 LTEXT           "Errors", 65535, 34, 151, 50, 8 
 LTEXT           "Information", 65535, 34, 166, 50, 8
 CONTROL         "", VK_POPUPS_COLOR_ERR_BACK, "ColourPicker", WS_TABSTOP | WS_DISABLED, 90, 148, 20, 12 
 CONTROL         "", VK_POPUPS_COLOR_ERR_FORE, "ColourPicker", WS_TABSTOP | WS_DISABLED, 117, 148, 20, 12
 CONTROL         "", VK_POPUPS_COLOR_INF_BACK, "ColourPicker", WS_TABSTOP | WS_DISABLED, 90, 164, 20, 12
 CONTROL         "", VK_POPUPS_COLOR_INF_FORE, "ColourPicker", WS_TABSTOP | WS_DISABLED, 117, 164, 20, 12
 
 AUTORADIOBUTTON "Default colors", VK_POPUPS_COLORDEF, 26, 95, 100, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Windows colors", VK_POPUPS_COLORWIN, 26, 110, 100, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Custom colors", VK_POPUPS_COLORCUST, 26, 125, 100, 10, NOT WS_TABSTOP

 CONTROL "Use protocol icon", VK_POPUPS_PROTO_ICON, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 26, 186, 100, 10, 0x0, 0

 PUSHBUTTON      "Test", VK_POPUPS_TEST, 16, 206, 48, 16
}

/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Account Manager
//
ACCMGR DIALOGEX 0, 0, 186, 134, 0
EXSTYLE WS_EX_CONTROLPARENT
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "E-mail:",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,7,16,65,8,0x0,0
  CONTROL "",VK_ACCMGR_EMAIL,"EDIT",ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,79,14,102,13,0x0,0
  CONTROL "Password:",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,7,33,66,8,0x0,0
  CONTROL "",VK_ACCMGR_PASS,"EDIT",ES_PASSWORD |ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,79,31,102,13,0x0,0
  CONTROL "Create new VKontakte account",VK_ACCMGR_NEWID,"Hyperlink",WS_CHILD |WS_TABSTOP |WS_VISIBLE ,7,51,174,10,0x0,0
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Login details
//
LOGIN DIALOGEX 0, 0, 200, 101, 0
EXSTYLE 0
STYLE DS_FIXEDSYS |DS_SETFONT |DS_MODALFRAME |DS_CENTER |WS_POPUP |WS_CAPTION 
CAPTION "VKontakte"
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "",VK_LOGIN_EMAIL,"EDIT",ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,91,34,102,13,0x0,0
  CONTROL "",VK_LOGIN_PASS,"EDIT",ES_PASSWORD |ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,91,54,102,13,0x0,0
  CONTROL "OK",VK_LOGIN_OK,"BUTTON",BS_DEFPUSHBUTTON |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,87,80,50,14,0x0,0
  CONTROL "Cancel",VK_LOGIN_CANCEL,"BUTTON",BS_PUSHBUTTON |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,143,80,50,14,0x0,0
  CONTROL "Create new account",VK_LOGIN_NEWID,"Hyperlink",WS_CHILD |WS_TABSTOP |WS_VISIBLE ,7,82,74,10,0x0,0
  CONTROL "Please enter your VKontakte account details to continue:",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,7,9,186,20,0x0,0
  CONTROL "E-mail:",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,21,37,65,8,0x0,0
  CONTROL "Password:",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,21,57,66,8,0x0,0
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Ask authorization request text
//
VK_AUTHASK DIALOGEX 0, 0, 186, 95, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | 
    WS_CAPTION | WS_SYSMENU
CAPTION "Enter an authorization request"
FONT 8, "MS Shell Dlg", 400
BEGIN
    DEFPUSHBUTTON   "&Send",VK_AUTH_OK,34,74,50,14, 0x0,0
    PUSHBUTTON      "&Cancel",VK_AUTH_CANCEL,98,74,50,14, 0x0,0
    EDITTEXT        VK_AUTH_TEXT,7,7,172,59,ES_AUTOHSCROLL
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Advanced search
//
VK_SEARCHADVANCED DIALOGEX 0, 0, 335, 247, 0
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_BORDER
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0
BEGIN
    GROUPBOX        "Main",65535,8,3,156,147
    LTEXT           "First name:",65535,15,14,50,8
    EDITTEXT        VK_ADVSRCH_FIRSTNAME,65,12,91,12,ES_AUTOHSCROLL
    LTEXT           "Last name:",65535,15,29,50,8
    EDITTEXT        VK_ADVSRCH_LASTNAME,65,27,91,12,ES_AUTOHSCROLL
    LTEXT           "Gender:",65535,15,44,50,8
    COMBOBOX        VK_ADVSRCH_GENDER,65,42,91,51,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Marital status:",65535,15,59,50,8
    COMBOBOX        VK_ADVSRCH_MARITALSTATUS,65,57,91,90,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Political views:",65535,15,74,50,8
    COMBOBOX        VK_ADVSRCH_POLITICALVIEWS,65,72,91,90,CBS_DROPDOWNLIST |  
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Date of birth:",65535,15,89,50,8
    LTEXT           "Day:",65535,25,104,50,8
    COMBOBOX        VK_ADVSRCH_DOB,65,102,91,172,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Month:",65535,25,119,50,8
    COMBOBOX        VK_ADVSRCH_MOB,65,117,91,172,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Year:",65535,25,134,50,8
    COMBOBOX        VK_ADVSRCH_YOB,65,132,91,172,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
                    
    GROUPBOX        "Education",65535,171,3,156,121
    LTEXT           "Country:",65535,178,14,50,8
    COMBOBOX        VK_ADVSRCH_COUNTRY,228,12,91,172,CBS_DROPDOWNLIST |  
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "City:",65535,178,29,50,8
    COMBOBOX        VK_ADVSRCH_CITY,228,27,91,172,CBS_DROPDOWNLIST |  
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "College:",65535,178,44,50,8
    EDITTEXT        VK_ADVSRCH_COLLEGE,228,42,91,12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Faculty:",65535,178,59,50,8
    EDITTEXT        VK_ADVSRCH_FACULTY,228,57,91,12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Department:",65535,178,74,50,8
    EDITTEXT        VK_ADVSRCH_DEPARTMENT,228,73,91,12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Graduation year:",65535,178,88,50,16
    COMBOBOX        VK_ADVSRCH_GRADYEAR,228,89,91,172,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Educational status:",65535,178,103,50,16
    COMBOBOX        VK_ADVSRCH_ED_STATUS,228,106,91,172,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    
    GROUPBOX        "Other",65535,171,125,156,30
    CONTROL         "Search online users only",VK_ADVSRCH_ONLINEONLY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,178,137,140,10                    
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Load picture
//
// VK_WALL_PICTURE DIALOGEX 0, 0, 200, 200, 0
// STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | 
//    WS_CAPTION | WS_SYSMENU
// CAPTION "Upload a picture"
// FONT 8, "MS Shell Dlg", 400
// BEGIN
//    CONTROL "", VK_WALL_PIC, "Button", BS_OWNERDRAW, 14, 14, 200, 200
// END

VK_WALL_PICTURE DIALOGEX 0, 0, 200, 130, 0
STYLE DS_SETFONT |DS_MODALFRAME |DS_FIXEDSYS |DS_CENTER |WS_POPUP |WS_VISIBLE |WS_SYSMENU |WS_CAPTION
FONT 8, "MS Shell Dlg", 400, 0
BEGIN
  CONTROL "Text",VK_WALL_PIC_TEXT,"Hyperlink",ES_CENTER | WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,5,45,14
  CONTROL "Image",VK_WALL_PIC_IMAGE,"Hyperlink",ES_CENTER | WS_CHILD |WS_TABSTOP |WS_VISIBLE ,53,5,45,14
  CONTROL "Video",VK_WALL_PIC_VIDEO,"Hyperlink",ES_CENTER | WS_CHILD |WS_TABSTOP |WS_VISIBLE |WS_DISABLED,102,5,45,14
  CONTROL "Audio",VK_WALL_PIC_AUDIO,"Hyperlink",ES_CENTER | WS_CHILD |WS_TABSTOP |WS_VISIBLE |WS_DISABLED,151,5,45,14
  // CONTROL "&Text",VK_WALL_PIC_TEXT,"BUTTON",BS_PUSHBUTTON |BS_FLAT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,5,45,14
  // CONTROL "&Picture",VK_WALL_PIC_IMAGE,"BUTTON",BS_PUSHBUTTON |BS_FLAT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,53,5,45,14
  // CONTROL "&Video",VK_WALL_PIC_VIDEO,"BUTTON",BS_PUSHBUTTON |BS_FLAT |WS_CHILD |WS_TABSTOP |WS_VISIBLE |WS_DISABLED ,102,5,45,14
  // CONTROL "&Audio",VK_WALL_PIC_AUDIO,"BUTTON",BS_PUSHBUTTON |BS_FLAT |WS_CHILD |WS_TABSTOP |WS_VISIBLE |WS_DISABLED ,151,5,45,14
  // CONTROL "",VK_WALL_PIC_EDIT,"EDIT",ES_AUTOVSCROLL |ES_MULTILINE |ES_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE, 5, 20, 190, 86
  EDITTEXT VK_WALL_PIC_EDIT,5,20,190,86,ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_TABSTOP
  CONTROL "", VK_WALL_PIC, "BUTTON", BS_OWNERDRAW |WS_CHILD, 5, 20, 190, 86
  LTEXT "", VK_WALL_STATUS, 5, 110, 130, 16
  CONTROL "&Send",VK_WALL_PIC_SEND,"BUTTON",BS_DEFPUSHBUTTON |WS_CHILD |WS_TABSTOP |WS_VISIBLE, 142,110, 55, 15
    
  CONTROL "",VK_WALL_PIC_PRGBAR,"msctls_progress32",WS_CHILD,0,130,200,13
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Request code (captcha)
//
VK_CAPTCHA DIALOGEX 0, 0, 75, 70, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | 
      WS_CAPTION | WS_SYSMENU
CAPTION "Captcha"
FONT 8, "MS Shell Dlg", 400
BEGIN
    CONTROL "", VK_CAPTCHA_PIC, "Button", BS_OWNERDRAW, 4, 4, 67, 27
    EDITTEXT VK_CAPTCHA_CODE, 4, 35, 67, 15, ES_AUTOHSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "&Send", VK_CAPTCHA_OK, 4, 54, 67, 14   
END



/////////////////////////////////////////////////////////////////////////////
//
// Icons
//
ICON_PROTO      ICON    DISCARDABLE     "icons\\main_icon.ico"
ICON_FRIENDS    ICON    DISCARDABLE     "icons\\friends_icon.ico"
ICON_GROUPS     ICON    DISCARDABLE     "icons\\groups_icon.ico"
ICON_MEETINGS   ICON    DISCARDABLE     "icons\\meetings_icon.ico"
ICON_MESSAGES   ICON    DISCARDABLE     "icons\\messages_icon.ico"
ICON_NOTES      ICON    DISCARDABLE     "icons\\notes_icon.ico"
ICON_PHOTOS     ICON    DISCARDABLE     "icons\\photos_icon.ico"
ICON_SOUND      ICON    DISCARDABLE     "icons\\play_sound_icon.ico"
ICON_POST       ICON    DISCARDABLE     "icons\\post_icon.ico"
ICON_VIDEOS     ICON    DISCARDABLE     "icons\\videos_icon.ico"
ICON_QUESTIONS  ICON    DISCARDABLE     "icons\\question_icon.ico"
ICON_INFO       ICON    DISCARDABLE     "icons\\info_icon.ico"
ICON_PLUS       ICON    DISCARDABLE     "icons\\add_icon.ico"
