#include "i_const.inc"

/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//

SETTINGS_LOGIN DIALOGEX 0, 0, 314, 236, 0
EXSTYLE 0
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX 
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "VKontakte Protocol",1000,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,3,306,95,0x0,0
  CONTROL "E-mail:",65535,"STATIC",SS_RIGHT |WS_CHILD |WS_GROUP |WS_VISIBLE ,12,17,51,8,0x0,0
  CONTROL "",VK_OPT_EMAIL,"EDIT",ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,68,15,106,12,0x0,0
  CONTROL "Password:",65535,"STATIC",SS_RIGHT |WS_CHILD |WS_GROUP |WS_VISIBLE ,12,31,51,8,0x0,0
  CONTROL "",VK_OPT_PASS,"EDIT",ES_PASSWORD |ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,68,29,106,12,0x0,0
  CONTROL "Hint: If you don't enter your password here, Miranda will ask for the password everytime you try to go online.",0,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,12,46,290,19,0x0,0
  CONTROL "Retrieve a lost password or VKontakte number",VK_OPT_PASSLOST,"Hyperlink",WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,81,290,8,0x0,0
  CONTROL "Create a new VKontakte account using the VKontakte website",1004,"Hyperlink",WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,69,290,8,0x0,0
END

LOGIN DIALOGEX 0, 0, 200, 101, 0
EXSTYLE 0
STYLE DS_FIXEDSYS |DS_SETFONT |DS_MODALFRAME |DS_CENTER |WS_POPUP |WS_CAPTION 
CAPTION "VKontakte"
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "",VK_LOGIN_EMAIL,"EDIT",ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,91,34,102,13,0x0,0
  CONTROL "",VK_LOGIN_PASS,"EDIT",ES_PASSWORD |ES_AUTOHSCROLL |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,91,54,102,13,0x0,0
  CONTROL "OK",VK_LOGIN_OK,"BUTTON",BS_DEFPUSHBUTTON |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,87,80,50,14,0x0,0
  CONTROL "Cancel",VK_LOGIN_CANCEL,"BUTTON",BS_PUSHBUTTON |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,143,80,50,14,0x0,0
  CONTROL "Create new account",VK_LOGIN_NEWID,"Hyperlink",WS_CHILD |WS_TABSTOP |WS_VISIBLE ,7,82,74,10,0x0,0
  CONTROL "Please enter your VKontakte account details to continue:",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,7,9,186,20,0x0,0
  CONTROL "E-mail:",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,21,37,65,8,0x0,0
  CONTROL "Password:",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,21,57,66,8,0x0,0
END

SETTINGS_ADVANCED DIALOGEX 0, 0, 314, 236, 0
EXSTYLE 0
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX 
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "Connection settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,3,306,111,0x0,0
  CONTROL "Send 'Keep-online' message each",0,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,17,110,18,0x0,0
  CONTROL "",VK_OPT_KEEPONLINE_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,14,29,12,0x0,0
  CONTROL "second(s)",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,17,35,12,0x0,0
  CONTROL "Check for new messages each",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,36,110,18,0x0,0
  CONTROL "",VK_OPT_CHECKNEWMSG_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,33,29,12,0x0,0
  CONTROL "second(s)",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,36,35,12,0x0,0
  CONTROL "Update friends' status each",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,55,110,18,0x0,0
  CONTROL "",VK_OPT_CHECKFRSTATUS_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,52,29,12,0x0,0
  CONTROL "second(s)",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,55,35,12,0x0,0
  CONTROL "Get only minimal contact details (name, date of birth, phones)",VK_OPT_GETMININFO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,78,290,10,0x0,0
  CONTROL "Other settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,195,306,34,0x0,0
  CONTROL "Remove subject of incoming message, if empty",VK_OPT_REMOVEEMTPYSUBJ,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,209,290,10,0x0,0
  CONTROL "Avatars",1,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,115,306,78,0x0,0
  CONTROL "Enable contacts additional status support",VK_OPT_ADDLSTATUSSUPPORT,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,96,290,10,0x0,0
  CONTROL "Enable avatars support",VK_OPT_AVATARSSUPPORT,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,13,131,290,10,0x0,0
  CONTROL "Update contacts avatars each",VK_OPT_AVATARSUPD_SEC_LABEL1,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,150,110,18,0x0,0
  CONTROL "",VK_OPT_AVATARSUPD_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,147,29,12,0x0,0
  CONTROL "second(s)",VK_OPT_AVATARSUPD_SEC_LABEL2,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,150,35,12,0x0,0
  CONTROL "Update avatars, when getting contacts details",VK_OPT_AVATARSUPDWHENGETINFO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,13,174,290,10,0x0,0
END

SETTINGS_NEWS DIALOGEX 0, 0, 314, 236, 0
EXSTYLE 0
STYLE DS_FIXEDSYS |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_MAXIMIZEBOX
FONT 8, "MS Shell Dlg", 400
BEGIN
  CONTROL "News support settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,3,306,66,0x0,0
  CONTROL "Receive news",VK_OPT_NEWSSUPPORT,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,17,290,10,0x0,0
  CONTROL "Check for news each",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,30,110,18,0x0,0
  CONTROL "",VK_OPT_NEWS_SEC,"EDIT",ES_NUMBER |ES_LEFT |WS_CHILD |WS_BORDER |WS_TABSTOP |WS_VISIBLE ,125,32,29,12,0x0,0
  CONTROL "second(s)",65535,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,165,35,35,12,0x0,0
  CONTROL "Receive minimal news (for today only, not all types)",VK_OPT_NEWS_MINIMAL,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,52,290,9,0x0,0
  CONTROL "Filters",1,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,71,306,113,0x0,0
  CONTROL "Display news of the following types only (not applicable for minimal news)",0,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP |WS_VISIBLE ,13,81,287,18,0x0,0
  CONTROL "Photos",VK_OPT_NEWS_FILTER_PHOTO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,100,135,10,0x0,0
  CONTROL "Videos",VK_OPT_NEWS_FILTER_VIDEO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,114,135,10,0x0,0
  CONTROL "Notes",VK_OPT_NEWS_FILTER_NOTE,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,127,135,10,0x0,0
  CONTROL "Questions",VK_OPT_NEWS_FILTER_QUESTION,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,139,135,10,0x0,0
  CONTROL "Themes",VK_OPT_NEWS_FILTER_SUBJ,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,155,135,10,0x0,0
  CONTROL "Friends",VK_OPT_NEWS_FILTER_FRIEND,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,12,169,135,10,0x0,0
  CONTROL "Statuses",VK_OPT_NEWS_FILTER_STATUS,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,100,135,10,0x0,0
  CONTROL "Groups",VK_OPT_NEWS_FILTER_GROUP,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,114,135,10,0x0,0
  CONTROL "Meetings",VK_OPT_NEWS_FILTER_MEETING,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,127,135,10,0x0,0
  CONTROL "Audio",VK_OPT_NEWS_FILTER_AUDIO,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,141,135,10,0x0,0
  CONTROL "Personal data",VK_OPT_NEWS_FILTER_PERSONAL,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,167,155,135,10,0x0,0
  CONTROL "Other settings",65535,"BUTTON",BS_GROUPBOX |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,4,187,306,44,0x0,0
  CONTROL "Display news in the separate contact",VK_OPT_NEWS_SEPARATE_CONTACT,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,11,216,287,9,0x0,0
  CONTROL "Display links in the news",VK_OPT_NEWS_SUPPORTLINKS,"BUTTON",BS_AUTOCHECKBOX |BS_MULTILINE |BS_TOP |BS_LEFT |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,11,202,287,9,0x0,0
END

/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

ICON_PROTO      ICON    DISCARDABLE     "icons\\main_icon.ico"
ICON_FRIENDS    ICON    DISCARDABLE     "icons\\friends_icon.ico"
ICON_GROUPS     ICON    DISCARDABLE     "icons\\groups_icon.ico"
ICON_MEETINGS   ICON    DISCARDABLE     "icons\\meetings_icon.ico"
ICON_MESSAGES   ICON    DISCARDABLE     "icons\\messages_icon.ico"
ICON_NOTES      ICON    DISCARDABLE     "icons\\notes_icon.ico"
ICON_PHOTOS     ICON    DISCARDABLE     "icons\\photos_icon.ico"
ICON_SOUND      ICON    DISCARDABLE     "icons\\play_sound_icon.ico"
ICON_POST       ICON    DISCARDABLE     "icons\\post_icon.ico"
ICON_VIDEOS     ICON    DISCARDABLE     "icons\\videos_icon.ico"
ICON_QUESTIONS  ICON    DISCARDABLE     "icons\\question_icon.ico"
