/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

104      ICON    DISCARDABLE     "icons\\friends_icon.ico"
105      ICON    DISCARDABLE     "icons\\friends_offline_icon.ico"

